
<!DOCTYPE html>
<html lang="no-nb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Dolphin Cup</title>
    <!-- publishtest -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
     <link href="css/master.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <img src="img/dolphin.jpg" style="height:150px;float:right;margin-right:50px;margin-top:20px"/>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="float:left">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dolphin Cup</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          <!--  <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Dolphin Cup</h1>
        <p class="lead">Record, replay and simulate Chess Games from pgn<br></p>
      </div>

    </div><!-- /.container -->

    <div class="container">

      <button class="btn btn-success" onClick="initNew()">Start new simulation</button>
      <br/>
      <br/>
      <div id="startNewPanel" style="display:none" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Start simulation/replay</h3>
        </div>
        <div  class="panel-body">
          <div class="">
            <form action="/" method="post" class="form-horizontal" role="form">
              <h4>Game source</h4>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <!--<div class="radio">
                    <label>
                      <input type="radio" name="gameSourceRadio" id="r1" value="fromDb" checked>
                      From database

                      <select name="gameDb" class="form-control">
                        {{#tournamentRounds}}
                        <option value="{{tournamentId}}|{{roundId}}">
                          {{tournamentId}}-{{roundId}}
                        </option>
                        {{/tournamentRounds}}
                      </select>
                    </label>

                  </div>-->
                  <div class="radio">
                    <label>
                      <input checked type="radio" name="gameSourceRadio" id="r3" value="fromRandom">
                        Random games
                    </label>
                    <br/>
                    <label style="margin-left:10px">
                      Number of games:
                      <input name="numberOfGames" value="100">
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="gameSourceRadio" id="r2" value="fromUrl">
                        <label for="r2">Url
                          <input type="url" class="form-control" id="pgnUrl" name="pgnUrl" placeholder="url to pgn-file" value="http://theweekinchess.com/assets/files/pgn/norway14.pgn">
                      </label>
                    </label>
                  </div>

                </div>

              </div>

              <h4 style="padding-top:10px">Replay timing</h4>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="radio">
                    <label>
                      <input checked type="radio" name="replaySpeed" id="r22" value="speedInterval">
                        Move every
                        <input type="text" name="secondsPrMove" class="form-inline-control" value="30">
                        seconds
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="replaySpeed" id="r21" value="speedClock">
                        Use metadata (if exist)
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Start simulation/replay</button>
                  <button type="submit" class="btn btn-danger" onClick="cancelNew()" >Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Ongoing simulation/replay</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Started</th>
              <th>Feed<th>
            </tr>
            {{#rounds}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{started}}</td>
              <td><a href="/feed/{{id}}">feed</a></td>
              <td><a href="/stop/{{id}}">stop</a></td>
            </tr>
            {{/rounds}}
          </table>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      function initNew(){
        $('#startNewPanel').show("slow");
      }
      function cancelNew(){
        $('#startNewPanel').hide("slow");
      }
    </script>
  </body>
</html>
